.background {
  height: 560px;
  width: 1259px;
  background-image: url('../assets/images/output_gradient_0_60.webp');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;

  position: absolute;
  top: 0;
  left: -154px;
}