#content {
	width: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.wrapper {
	width: 100%;
	flex: 1 0 auto;
	padding-top: 901px;
	max-width: $content-width;
	margin: 0 auto;
	position: relative;
}